* {
  font-family: "Roboto", sans-serif;
}
/* web section */
h1 {
  color: red;
  text-align: center;
}
/* h1 style */

h2 {
  color: blue;
  text-align: left;
}
body {
  margin: 10px;
}

/* body section */

.topnav {
  display: flex;

  background-color: #4904a3;
}

.topnav a {
  color: black;
  margin: 0;
  padding: 0;

  text-decoration: none;
}
.topnav li {
  list-style-type: none;
  display: inline-block;

  width: 150px;
  padding: 20px;
}
.div-nav a:hover {
  background-color: #ddd;
  color: rgb(235, 9, 77);
}

.topnav a.home {
  background-color: #2196f3;
  color: white;
}

.searchbar {
  display: flex;
}

.searchbar input[type="text"] {
  border: none;
}

.searchbar button {
  background: #ddd;

  border: none;
  cursor: pointer;
}

.searchbar button:hover {
  background: #fa0505;
}

/* top navbar */
p {
  border: 4px solid blueviolet;
  padding: 10px;

  margin: 10px;
  border-radius: 10px;

  width: 400px;
}

/* paragraph style */
.CONTACT {
  margin: 10px;
}

footer .copy {
  overflow: hidden;
  background-color: #8873a3;
}
/* footer section */
